@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face{
    font-family:'AppleSDGothicNeoM';
    src:url('../font/AppleSDGothicNeoM.ttf');
    font-weight:300;
    font-style:normal;
}

@font-face{
    font-family:'NotoSansCJKkr-Regular';
    src:url('../font/NotoSansCJKkr-Regular.otf');
    font-weight:300;
    font-style:normal;
}

